doctype html
html
head
	title Blog
	link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
body(class='container', class='bg-light')
	nav(class='nav', class='bg-gradient-dark')
		a(class='nav-link active', href='/') My Blog
		a(class='nav-link active', href='/posts') List of blogs
		a(class='nav-link active', href='/posts/new') Create new blog
		
block content